<!DOCTYPE html>
  <head></head>
  <style>
    body {
      background: <%= color %>;
    }
    </style>
  <body>
    <p>
      Your guess was <%= message %>
    </p>
    <form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>

  </body>
</html>
